body {
	font-family: verdana;

	background-color: LightSalmon;

	color: white;
}
https://1.gravatar.com/avatar/ffc4f76907961ff706dc8869a6553cdc?d=https%3A%2F%2Fidenticons.github.com%2Fc0a0bbdb5c99b961d9b58234f5c45583.png&r=x&s=140
